a, h1, h2, h3 {
    margin: 7px;
}

input{
    margin: 7px;
}

img {
    width: 200px;
    height: 200px;
}

#position {
    width: 30px;
}

/**
validator
 */

label.error {
    color: red;

    margin-left: 5px;
}

input.error {
    border: 2px solid red;
}